@charset "utf-8";
/* CSS Document */

body {
	color: #000;
	background: #332F29;
	font-size:100%;
}
#contenedor {
	width: 800px;
	background: #8FA68E;
	margin-right:auto;
	margin-left:auto;
	overflow: hidden;
}
nav {
	background: #CC3910;
	float: left;
	width: 160px;
}
ul {
	list-style-type:none;
}
a {
	color:#F1F2C0;
	text-decoration: none;
}
section {
	background: #F1F2C0;
	float: left;
	margin: 0 0 0 25px;
	width: 400px;
}
aside {
	background: #CCC59E;
	float: right;
	width: 190px;
}



nav, section, aside {
	float: none;
	width: auto;
}

nav {
	background: #FFCC66;
}

section {
	background: #FFFFCC;
	margin: 0;
}

aside {
	background: #D8D8BF;
}

@media screen and (max-width: 800px) {
    #contenedor {
        width: 100%;
    }

    nav, section, aside {
        float: none;
        width: 100%;
    }

    nav {
		border-bottom:50px solid rgb(92, 129, 87);
        width: 100%;
		background: #7066ff;
    }

    section {
        background: #FFFFCC;
        margin: 0;
    }

	li {

		margin:12px 15px;
            
		width: 100px;
		height:30px;
		
		background:#020257;
		color:#fff;
		
		font-family:'Courier New', Courier, monospace;
		font-weight:900;
		font-size:10 px;
		
		text-align:center;
		line-height:30px;
		
		transition:all 1.3s ease; 

	}

    aside, section {
        background: #D8D8BF;
		width: 100px;
		border-bottom:2px solid black ;
		display: none;
    }
}