<!DOCTYPE html>
<html>

<head>
  <title>{{title}}</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
</head>

<body>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li></li> <a href="/prueba">Prueba</a></li>
      <li></li> <a href="/destacados">Destacados</a></li>
      <li></li> <a href="/nosotros">Nosotros</a></li>
      <li></li> <a href="/contacto">Contacto</a></li>
    </ul>
  </nav>


  {{{body}}}
</body>

</html>